.articleDetail {
    background-color: #fff;
}
.articleDetail .article-header{
    border-bottom: 1px solid #eee;
}
.articleDetail .article-meta{
    text-align: center;
    padding-bottom: 8px;
}
.articleDetail span,time{
    margin-right: 15px;
}