body{
    background-color: #EEEEEE;
}
/*更改bootstrap版心的大小*/
@media (min-width: 1200px) {
    .container{
        max-width: 1100px;
    }
}
.col-sm-8 {
    padding-right: 0px;
}

body a:hover {
    text-decoration: none;
}