.site-info{
    margin: 80px 0 0 0;
}

.back-to-top {
    display: block;
    position: fixed;
    z-index: 900;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    text-align: center;
    background: #222;
    font-size: 1.3rem;
    opacity: .6;
    color: #fff;
    padding: 0 .6rem;
    height: 2.4rem;
    line-height: 2.4rem;
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}