#blog-nav{
    border-radius: 0px;
    /*background-color: #443232;*/
}
.navbar{
    border: 0px;
}

#navbar a{
    font-size: 16px;
    color: #ffffff;
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:active {
    background-color: #5F9EA0 !important;
    color: #fff;
}

body a:hover {
    text-decoration: none;
}